/*CSS DE LOS ICONOS DE LA NAV-BAR*/
.navbar {
    background-color: #0b2a42; 
    padding:15px 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease;
    z-index: 1000; 

}
.navbar.scrolled {
    background-color: #0b2a42a3
  
}
.nav-link.scrolled {
  
    color: #0b1a38;
}
.navbar-container {
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 30px; 
}

.navbar-nav .nav-item {
    position: relative;
}

.navbar-nav .nav-link {
    color: #ffffff; 
    font-size: 18px;
    font-weight: 500; 
    text-transform: capitalize;
    text-decoration: none; 
    transition: color 0.3s;
    padding: 5px 0;
}

.navbar-nav .nav-link:hover {
    color: #7c5ce2; 
    border-bottom: 2px solid #7c5ce2; 
}

.btn-contact-us {
    background-color: #7c5ce2; 
    color: #ffffff;
    font-size: 16px;
    font-weight: bold; 
    padding: 10px 20px; 
    border-radius: 8px; 
    text-decoration: none; 
    text-transform: capitalize;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.btn-contact-us:hover {
    background-color: #5b45b0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}

.dropdown-menu {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #182a4a; 
    padding: 10px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    z-index: 1000;
    border-radius: 5px;
    width: 209px;
    
}

.nav-item:hover .dropdown-menu {
    display: block; 
}

.dropdown-item {
    color: #ffffff; 
    font-size: 16px; 
    font-weight: 400; 
    text-decoration: none; 
    padding: 8px 20px; 
    transition: background-color 0.3s;
    display: block;
}

.dropdown-item:hover {
    background-color: #7c5ce2; 
    color: #ffffff; 
}
.logo-img{
    width: 210px;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Estilos generales para el body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
    background: linear-gradient(to right, #0b1a38 5%, #9177d7 95%); 
    height: 100vh;
}

/* Estilos para el header */

.header-image {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url('./Imagenes/encabezado1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
     /* Capa de superposición */
     background-color: rgba(0, 0, 0, 0.5); 
     background-blend-mode: overlay; 
     
}

.header-text {
    position: absolute;
    width: 100%;
    color: white;
    padding: 0 20px;
}

.header-text h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    text-align: center; 
    top: 50%;
    transform: translateY(-50%); 
    position: absolute;
    width: 100%;
}

.header-text p {
    font-size: 1rem;
    margin: 0;
    text-align: justify; 
    position: absolute;
    bottom: -180px; 
    width: 100%;
    padding: 0 20px;
}
/*Efectos para la informacion de la primera section*/
.about-section {
    margin: 20px auto;  
    width: 62%;  
    font-family: 'Arial', sans-serif;  
    color: white;  
    padding: 20px; 
    text-align: justify; 
    line-height: 1.8;
    font-size: 1.1rem;  
    max-width: 800px;  

}

#about-text {
    max-height: 250px;  
    overflow: hidden;  
    transition: max-height 0.3s ease-out; 
}
.button-container {
    display: flex;  
    justify-content: center;  
    margin-top: 10px;  
}
/*Titulos de la primera section*/
h2{
    text-align: center;
}
/*Boton ver mas*/
#toggle-btn {
    display: block;
    margin-top: 12px;
    padding: 10px 10px;
    background-color: #7548f1;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    width: 11%;  
    margin-bottom: 20px;  
    
}
/*Efectos tarjetas de valores*/
.values-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 2px; 
    justify-content: center; 
    align-items: center; 
    margin: 10px auto; 
    max-width: 800px; 
}
/* Ajuste para la última tarjeta centrada */
.card-container .value-card:last-child {
    grid-column: 1 / -1; 
    justify-self: right; 
}

/* Estilo para las tarjetas */
.value-card {
    width: 300px;
    text-align: center;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #18326746;
    transition: transform 0.2s ease-in-out; 
}

/* Efecto de "salto" al pasar el cursor */
.value-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.value-icon {
    font-size: 45px; 
    color: #7548f1; 
    margin-bottom: 5px;
}

.value-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

.value-card p {
    font-size: 16px;
    color: white;
}

/*@medias para responsive*/
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        gap: 15px;
    }
    .btn-contact-us {
        font-size: 14px;
        padding: 8px 15px;
    }
    .social-icon {
        width: 60px;
        height: 60px;
    }
}
* {
    transition: all 0.3s ease-in-out;
}
@media (max-width: 600px) {
    .social-icons {
        flex-direction: row;
        bottom: 10px;
        right: 10px;
        gap: 10px;
    }
}
@media (max-width: 600px) {
    .card-container {
        grid-template-columns: 1fr; /* Una sola columna */
    }
}